<div class="parent">
    <div class="child1">
    <h5 routerLink="interpolation">interpolation</h5>
    <h5 routerLink="event-binding">eventbinding</h5>
    <h5 routerLink="two-way-binding">twowaybinding</h5>
    <h5 routerLink="calculator">calculator</h5>
    <h5 routerLink="rectangle">rectangle</h5>
    <h5 routerLink="square"> square</h5>
    <h5 routerLink="power">power</h5>
    <h5 routerLink="eventregistration">eventregistration</h5>
    <h5 routerLink="employeeregistration">employeeregistration</h5>
    <h5 routerLink="cart">cart</h5>
    <h5 routerLink="pipes">pipes</h5>
    <h5 routerLink="cars">cars</h5>
    <h5 routerLink="star">star</h5>
    <h5 routerLink="gpay">Gpay</h5>
    <h5 routerLink="bank">Bank</h5>
    <h5 routerLink="hooks">Hooks</h5>
    <h5 routerLink="vehicle">Vehicle</h5>
    <h5 routerLink="post">post</h5>
    <h5 routerLink="mail">mail</h5>
    <h5 routerLink="create-vehicle">createvehicle</h5>
    <h5 routerLink="createaccount">createaccount</h5>
    <h5 routerLink="create-user">create-user</h5>
    <button (click)="logout()">logout</button>
    </div>

    <div class="child2">
        <router-outlet></router-outlet>

    </div>
</div>
